.wrapperSocial
  width: 100%
  display: flex
  flex-direction: row
  flex-wrap: wrap


  .itemSocialNetwork
    margin-right: 6px
    width: 40px
    height: 40px
    border-radius: 50%
    background: no-repeat center center

