.container{
    width: 75%;
    height: 100%;
    border: 1px solid red;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skillsContainer {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}
.myProjectContainer {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.contactsContainer {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
