.title {
    font-size: 24px;
    font-weight: 700;
    line-height: 18px;
    color: #fff;
    margin-bottom: 10px;
}

.underline {
    width: 100%;
    border-bottom: #ff651c 2px solid;
    margin-bottom: 50px;
}
