.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.text {
    padding: 20px 0;
    max-width: 450px;
    margin: 20px 0;
}

.text span {
    color: #ff651c;
    font-size: 24px;
    margin-left: 30px;
}
.myName {
    color: white;
    font-size: 50px;
}

.myPhoto {
    width: 300px;
    height: 300px;
    background-color: aliceblue;
    margin: 20px 0;
    box-shadow: 0 0 35px 0 #ff651c;
    border-radius: 50%;
}

