.main
  display: flex
  flex-direction: column
  justify-content: center
  margin-bottom: 20px

  .myPhoto
    height: 350px
    width: 350px
    margin: 20px 0
    box-shadow: 0 0 15px 0 #ff651c
    border-radius: 15px
    background: no-repeat 50% 25%
    overflow: hidden
    @media (max-width: 360px)

      height: 250px

  .text
    padding: 20px 0
    max-width: 450px
    margin: 20px 0
    @media (max-width: 360px)
      margin: 0
      padding: 10px 0 0 0

    .mainDescription
      margin-top: 20px
      @media (max-width: 460px)
        padding: 0 10px

    .mainDescription p
      color: white
      font-size: 16px
      line-height: 24px

  .text span
    color: #ff651c
    font-size: 24px
    margin-left: 30px

  .myName
    color: white
    font-size: 50px
    margin: 15px 0 15px 0
    @media (max-width: 414px)
      margin: 10px 0 10px 30px




