.skills {
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 30px;
}

.title {
    color: white;
}

@media (max-width: 680px) {

    .wrapper {
        justify-content: center;
    }
}