.myProjects {
    min-height: 100vh;
    background-color: #519bd3;
}

.title {
    background-color: #b2a11e;
}

.wrapper {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}