.navigation {
    width: 350px;
    display: flex;
    justify-content: space-between;
    border: 1px red solid;
}

.navigation a {
    text-decoration: none;
}


@media (max-width: 485px) {
    .navigation {
        justify-content:space-between;
        width: 100%;

    }
    .navigation a {
        margin-left: 23px;
    }
    .navigation a:first-child {
        margin-left: 0;
    }
}
