.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
    margin-left: 23px;
    padding: 2px 4px;
}

.navigation a:first-child {
    border-bottom: 2px solid #ff651c;
    cursor: pointer;
}

.navigation a:first-child {
    margin-left: 0;
}

@media (max-width: 775px) {
    .wrapper {
        margin: 0 auto;
    }
}

@media (max-width: 485px) {
    .navigation {
        justify-content: space-between;
        width: 100%;
    }
}
