.footer {
    height: 150px;
    background-color: #949f4e;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title {
    background-color: #c29898;
}
.wrapper {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px red solid;
}

.social {
    border: 1px red solid;
    width: 45%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}